
{% extends "neumonia/base.html" %}
{% load static %}
{% block content %}

<div style="position: relative;
text-align: center;
color: white;">

<div style="background: linear-gradient(to bottom, #0066ff 0%, #66ccff 100%); width: auto; height: 600px;">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1 class="display-4 mt-5">X-RAY NEUMONIA</h1>
				<h1 class="mt-5 display-5">Herramienta de apoyo para predecir Neumonia</h1>
			</div>

		</div>
	</div>
</div>



</div>



<!--Welcome section-->
<div class="container-fluid padding mt-5">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">X-RAY NEUMONIA</h1>
		</div>
		<hr>
		<div class="col-12 mt-5">
			<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>	
</div>

<div class="container-fluid mt-5">
	<div class="row text-center">
		<div class="col-md-6">
			<h4>Precision Normal</h4>
			<p>234 Imagenes</p>
			<p>198 Acertadas</p>
			<p>36 Falsas</p>
			<p>85.6% Precision Normal</p>

		</div>
		<div class="col-md-6">
			<h4>Precision Neumonia</h4>
			<p>390 Imagenes</p>
			<p>363 Acertadas</p>
			<p>27 Falsas</p>
			<p>93% Precision Neumonia</p>
		</div>
		
	</div>
	
</div>
















{% endblock %}


